sudo: required
language: node_js

addons:
  apt:
    sources:
      - llvm-toolchain-trusty-5.0
    packages:
      - clang-5.0

node_js:
  - '6'
  - '8'
  - '10'

os:
  - linux
  - osx

osx_image: xcode9.4

env:
  matrix:
    - TABLEAU_SDK_VERSION=2018-2-0

before_install:
  - ./scripts/install-sdk.sh

install:
  - npm install

script:
  - export MALLOC_CHECK_=1 # @todo: Fix double free / corruption error and remove this line.
  - npm test
