sudo: required
language: node_js

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.6
    packages:
      - clang

node_js:
  - '4.5'

os:
  - linux
  - osx

env:
  matrix:
    - TABLEAU_SDK_VERSION=9-3-0
    - TABLEAU_SDK_VERSION=10-0-0

before_install:
  - ./scripts/install-sdk.sh

install:
  - npm install

script:
  - export MALLOC_CHECK_=1 # @todo: Fix double free / corruption error and remove this line.
  - npm test
